
<div ng-controller="YetjDetailCtrl">

<breadcrumb></breadcrumb>

	<div class="row-fluid">
		<form class="form-horizontal">
			<div class="span6">
				<div class="control-group">
					<label class="control-label">企业账面余额</label>
					<div class="controls">
						<span class="input-xlarge uneditable-input">{{enterpriseDetail.balance |currency:"￥"}}</span>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">加：企业未收账款</label>
					<div class="controls">
						<span class="input-xlarge uneditable-input">{{enterpriseDetail.unreceivedAmount |currency:"￥" }}</span>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">减：企业未付账款</label>
					<div class="controls">
						<span class="input-xlarge uneditable-input">{{enterpriseDetail.unpaidAmount |currency:"￥" }}</span>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">调整后余额</label>
					<div class="controls">
						<span class="input-xlarge uneditable-input">{{enterpriseDetail.finalBalance |currency:"￥"}}</span>
					</div>
				</div>

				<table class="table table-bordered">
					<thead>
						<tr>
							<th>日期</th>
							<th>银行摘要</th>
							<th>未收</th>
							<th>未付</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="detail in enterpriseList">
							<td>{{detail.dealDate}}</td>
							<td>{{detail.digest}}</td>
							<td>{{detail.unreceivedAmount | amountFilter | currency:"￥"}}</td>
							<td>{{detail.unpaidAmount | amountFilter}}</td>
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<th></th>
							<th>合计</th>
							<th>{{enterpriseDetail.totalUnreceived}}</th>
							<th>{{enterpriseDetail.totalUnpaid}}</th>
						</tr>
					</tfoot>
				</table>
			</div>
			<div class="span6 noMarginLeft">
				<div class="dark">
					<div class="control-group">
						<label class="control-label">银行账面余额</label>
						<div class="controls">
							<span class="input-xlarge uneditable-input">{{bankDetail.balance |currency:"￥"}}</span>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">加：银行未收账款</label>
						<div class="controls">
							<span class="input-xlarge uneditable-input">{{bankDetail.unreceivedAmount |currency:"￥"}}</span>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">减：银行未付账款</label>
						<div class="controls">
							<span class="input-xlarge uneditable-input">{{bankDetail.unpaidAmount |currency:"￥"}}</span>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">调整后余额</label>
						<div class="controls">
							<span class="input-xlarge uneditable-input">{{bankDetail.finalBalance |currency:"￥"}}</span>
						</div>
					</div>
					<table class="table table-bordered">
						<thead>
							<tr>
								<th>日期</th>
								<th>银行摘要</th>
								<th>未收</th>
								<th>未付</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="detail in bankList">
								<td>{{detail.dealDate}}</td>
								<td>{{detail.digest}}</td>
								<td>{{detail.unreceivedAmount | amountFilter}}</td>
								<td>{{detail.unpaidAmount | amountFilter}}</td>
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<th></th>
								<th>合计</th>
								<th>{{bankDetail.totalUnreceived}}</th>
								<th>{{bankDetail.totalUnpaid}}</th>
							</tr>
						</tfoot>
					</table>
				</div>
			</div>
		</form>
	</div>

	<!-- end: Content -->
</div>